In [1]:
import numpy as np
import pandas as pd

In [2]:
def _read_observation_file(filename):
    df = pd.read_csv(filename, sep=r"\s+")
    return df


def write_data(df, filename_out):
    """writes the data extracted from input and result files to
    filename_out

    Parameters
    ----------
    df : pd.DataFrame
        data to be written
    filename_out : string
        name of the output file in which the data should be written
    """
    header = "   ".join(df.columns) + "\n"

    with open(filename_out, "w") as f:
        f.write(header)

    # convert the list of dicts to a dataframe
    for col in df.columns[1:]:
        df[col] = df[col].apply(lambda x: f"{float(x):.4E}")

    # fuse the columns of the dataframe
    df_1col = df.apply(lambda row: "   ".join(list(row)) + "\n", 1)

    # save to output file
    with open(filename_out, "a") as f:
        for i in range(len(df_1col)):
            f.write(df_1col.at[i])

In [10]:
type_file = "err"

df = _read_observation_file(f"./carina_fts_lines_{type_file}_v4_full.dat")
df.head()

,X_Y,COJ4-3,COJ5-4,COJ6-5,COJ7-6,COJ8-7,COJ9-8,COJ10-9,COJ11-10,COJ12-11,...,13COJ6-5,13COJ7-6,13COJ8-7,13COJ9-8,13COJ10-9,13COJ11-10,13COJ12-11,13COJ13-12,CI609,CI370
0,2_9,6.647900e-09,4.069200e-09,2.665500e-09,2.111100e-09,3.130200e-09,4.551900e-09,7.695600e-09,5.306400e-09,3.944700e-09,...,2.117000e-09,2.722900e-09,4.677800e-09,4.063400e-09,1.182400e-08,8.763700e-09,inf,inf,4.910600e-09,2.260200e-09
1,2_10,4.601100e-09,3.484300e-09,2.025500e-09,1.923000e-09,3.229300e-09,5.034300e-09,2.710000e-09,6.046100e-09,4.938700e-09,...,3.465500e-09,2.302500e-09,4.380000e-09,4.890900e-09,3.696800e-09,2.616700e-09,5.395900e-09,inf,2.737300e-09,1.821900e-09
2,3_7,1.611600e-09,2.590400e-09,1.930200e-09,2.052800e-09,4.870600e-09,2.993000e-09,8.228300e-09,7.488700e-09,4.754600e-09,...,2.116100e-09,1.447600e-09,3.893500e-09,3.940700e-09,3.579200e-09,inf,1.207400e+07,3.395700e-09,1.984100e-09,2.387100e-09
3,3_8,4.016000e-09,2.408300e-09,1.452000e-09,1.019500e-09,3.439800e-09,6.978900e-09,5.192400e-09,8.418300e-09,6.173600e-09,...,1.966900e-09,1.461500e-09,2.301300e-09,4.823600e-09,6.218400e-09,5.221700e-09,3.204400e-09,6.224200e-09,2.077200e-09,9.064200e-10
4,3_9,3.708200e-09,1.755300e-09,1.720900e-09,1.593600e-09,2.722300e-09,2.252400e-09,3.074400e-09,3.603700e-09,4.167300e-09,...,1.639900e-09,1.478900e-09,2.543600e-09,3.676700e-09,3.414600e-09,inf,inf,1.220600e-08,1.815100e-09,1.743300e-09

In [11]:
df["X"] = df["X_Y"].apply(lambda x: x.split("_")[0])
df["Y"] = df["X_Y"].apply(lambda x: x.split("_")[1])
df = df.drop(["X_Y"], 1)
df = df.astype(float)
df[["X", "Y"]] = df[["X", "Y"]].astype(int)
df = df.set_index(["X", "Y"])
df.head()

/tmp/ipykernel_3821792/687504521.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(["X_Y"], 1)

            COJ4-3        COJ5-4        COJ6-5        COJ7-6        COJ8-7  \
X Y
2 9   6.647900e-09  4.069200e-09  2.665500e-09  2.111100e-09  3.130200e-09
  10  4.601100e-09  3.484300e-09  2.025500e-09  1.923000e-09  3.229300e-09
3 7   1.611600e-09  2.590400e-09  1.930200e-09  2.052800e-09  4.870600e-09
  8   4.016000e-09  2.408300e-09  1.452000e-09  1.019500e-09  3.439800e-09
  9   3.708200e-09  1.755300e-09  1.720900e-09  1.593600e-09  2.722300e-09

            COJ9-8       COJ10-9      COJ11-10      COJ12-11      COJ13-12  \
X Y
2 9   4.551900e-09  7.695600e-09  5.306400e-09  3.944700e-09  7.253100e-09
  10  5.034300e-09  2.710000e-09  6.046100e-09  4.938700e-09  5.508600e-09
3 7   2.993000e-09  8.228300e-09  7.488700e-09  4.754600e-09  2.297000e-08
  8   6.978900e-09  5.192400e-09  8.418300e-09  6.173600e-09  7.539500e-09
  9   2.252400e-09  3.074400e-09  3.603700e-09  4.167300e-09  1.038800e-08

      ...      13COJ6-5      13COJ7-6      13COJ8-7      13COJ9-8  \
X Y   ...
2 9   ...  2.117000e-09  2.722900e-09  4.677800e-09  4.063400e-09
  10  ...  3.465500e-09  2.302500e-09  4.380000e-09  4.890900e-09
3 7   ...  2.116100e-09  1.447600e-09  3.893500e-09  3.940700e-09
  8   ...  1.966900e-09  1.461500e-09  2.301300e-09  4.823600e-09
  9   ...  1.639900e-09  1.478900e-09  2.543600e-09  3.676700e-09

         13COJ10-9    13COJ11-10    13COJ12-11    13COJ13-12         CI609  \
X Y
2 9   1.182400e-08  8.763700e-09           inf           inf  4.910600e-09
  10  3.696800e-09  2.616700e-09  5.395900e-09           inf  2.737300e-09
3 7   3.579200e-09           inf  1.207400e+07  3.395700e-09  1.984100e-09
  8   6.218400e-09  5.221700e-09  3.204400e-09  6.224200e-09  2.077200e-09
  9   3.414600e-09           inf           inf  1.220600e-08  1.815100e-09

             CI370
X Y
2 9   2.260200e-09
  10  1.821900e-09
3 7   2.387100e-09
  8   9.064200e-10
  9   1.743300e-09

[5 rows x 21 columns]

In [12]:
df *= 1e3  # convert units from W m-2 sr-1 to erg cm-2 s-1 sr-1

In [13]:
df = df.rename(
    columns={
        "COJ4-3": "co_v0_j4__v0_j3",
        "COJ5-4": "co_v0_j5__v0_j4",
        "COJ6-5": "co_v0_j6__v0_j5",
        "COJ7-6": "co_v0_j7__v0_j6",
        "COJ8-7": "co_v0_j8__v0_j7",
        "COJ9-8": "co_v0_j9__v0_j8",
        "COJ10-9": "co_v0_j10__v0_j9",
        "COJ11-10": "co_v0_j11__v0_j10",
        "COJ12-11": "co_v0_j12__v0_j11",
        "COJ13-12": "co_v0_j13__v0_j12",
        "13COJ5-4": "13c_o_j5__j4",
        "13COJ6-5": "13c_o_j6__j5",
        "13COJ7-6": "13c_o_j7__j6",
        "13COJ8-7": "13c_o_j8__j7",
        "13COJ9-8": "13c_o_j9__j8",
        "13COJ10-9": "13c_o_j10__j9",
        "13COJ11-10": "13c_o_j11__j10",
        "13COJ12-11": "13c_o_j12__j11",
        "13COJ13-12": "13c_o_j13__j12",
        "CI609": "c_el3p_j1__el3p_j0",
        "CI370": "c_el3p_j2__el3p_j1",
    }
)

In [14]:
df.head()

      co_v0_j4__v0_j3  co_v0_j5__v0_j4  co_v0_j6__v0_j5  co_v0_j7__v0_j6  \
X Y
2 9          0.000007         0.000004         0.000003         0.000002
  10         0.000005         0.000003         0.000002         0.000002
3 7          0.000002         0.000003         0.000002         0.000002
  8          0.000004         0.000002         0.000001         0.000001
  9          0.000004         0.000002         0.000002         0.000002

      co_v0_j8__v0_j7  co_v0_j9__v0_j8  co_v0_j10__v0_j9  co_v0_j11__v0_j10  \
X Y
2 9          0.000003         0.000005          0.000008           0.000005
  10         0.000003         0.000005          0.000003           0.000006
3 7          0.000005         0.000003          0.000008           0.000007
  8          0.000003         0.000007          0.000005           0.000008
  9          0.000003         0.000002          0.000003           0.000004

      co_v0_j12__v0_j11  co_v0_j13__v0_j12  ...  13c_o_j6__j5  13c_o_j7__j6  \
X Y                                         ...
2 9            0.000004           0.000007  ...      0.000002      0.000003
  10           0.000005           0.000006  ...      0.000003      0.000002
3 7            0.000005           0.000023  ...      0.000002      0.000001
  8            0.000006           0.000008  ...      0.000002      0.000001
  9            0.000004           0.000010  ...      0.000002      0.000001

      13c_o_j8__j7  13c_o_j9__j8  13c_o_j10__j9  13c_o_j11__j10  \
X Y
2 9       0.000005      0.000004       0.000012        0.000009
  10      0.000004      0.000005       0.000004        0.000003
3 7       0.000004      0.000004       0.000004             inf
  8       0.000002      0.000005       0.000006        0.000005
  9       0.000003      0.000004       0.000003             inf

      13c_o_j12__j11  13c_o_j13__j12  c_el3p_j1__el3p_j0  c_el3p_j2__el3p_j1
X Y
2 9              inf             inf            0.000005        2.260200e-06
  10    5.395900e-06             inf            0.000003        1.821900e-06
3 7     1.207400e+10        0.000003            0.000002        2.387100e-06
  8     3.204400e-06        0.000006            0.000002        9.064200e-07
  9              inf        0.000012            0.000002        1.743300e-06

[5 rows x 21 columns]

In [15]:
df.to_pickle(f"./carina_fts_lines_{type_file}_v4_full.pkl")

In [9]:
# df_test = pd.read_pickle(f"./carina_fts_lines_{type_file}_v4.pkl")
# df_test

In [16]:
len(df)

176

In [18]:
N = len(df)
list_lines = [
    "co_v0_j4__v0_j3",
    "co_v0_j5__v0_j4",
    "co_v0_j6__v0_j5",
    "co_v0_j7__v0_j6",
    "co_v0_j8__v0_j7",
    "co_v0_j9__v0_j8",
    "co_v0_j10__v0_j9",
    "co_v0_j11__v0_j10",
    "co_v0_j12__v0_j11",
    "co_v0_j13__v0_j12",
    "13c_o_j5__j4",
    "13c_o_j6__j5",
    "13c_o_j7__j6",
    "13c_o_j8__j7",
    "13c_o_j9__j8",
    "13c_o_j10__j9",
    "13c_o_j11__j10",
    "13c_o_j12__j11",
    "13c_o_j13__j12",
    "c_el3p_j1__el3p_j0",
    "c_el3p_j2__el3p_j1",
]
list_dicts = []
for n in range(N):
    for ell, line in enumerate(list_lines):
        dict_ = {
            "n": n,
            "ell": ell,
            "line": line,
            "a0_best": 3.0,
            "a1_best": 0.01,
            "target_best": None,
        }
        list_dicts.append(dict_)

df_params_gaussian = pd.DataFrame.from_records(list_dicts, index="n")
df_params_gaussian.head()

   ell             line  a0_best  a1_best target_best
n
0    0  co_v0_j4__v0_j3      3.0     0.01        None
0    1  co_v0_j5__v0_j4      3.0     0.01        None
0    2  co_v0_j6__v0_j5      3.0     0.01        None
0    3  co_v0_j7__v0_j6      3.0     0.01        None
0    4  co_v0_j8__v0_j7      3.0     0.01        None

In [19]:
df_params_gaussian.to_csv("./params_for_gaussian_only.csv")

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("./values_wu_et_al_2018.pkl")
df

       kappa             P          radm  Avmax
X  Y
2  9     1.0  6.851674e+07  10010.458030   10.0
   10    1.0  7.702090e+07  12538.628139   10.0
3  7     1.0  8.526743e+07  16992.703471   10.0
   8     1.0  8.526743e+07  13164.397808   10.0
   9     1.0  8.292417e+07  12968.686817   10.0
...      ...           ...           ...    ...
23 22    1.0  1.770083e+08  14980.367870   10.0
24 19    1.0  1.288460e+08   9927.608098   10.0
   20    1.0  1.425520e+08  11464.240480   10.0
   21    1.0  1.560583e+08  11662.120867   10.0
   22    1.0  1.618662e+08  14834.967255   10.0

[176 rows x 4 columns]

In [3]:
df["alpha"] = 0.0
df

       kappa             P          radm  Avmax  alpha
X  Y
2  9     1.0  6.851674e+07  10010.458030   10.0    0.0
   10    1.0  7.702090e+07  12538.628139   10.0    0.0
3  7     1.0  8.526743e+07  16992.703471   10.0    0.0
   8     1.0  8.526743e+07  13164.397808   10.0    0.0
   9     1.0  8.292417e+07  12968.686817   10.0    0.0
...      ...           ...           ...    ...    ...
23 22    1.0  1.770083e+08  14980.367870   10.0    0.0
24 19    1.0  1.288460e+08   9927.608098   10.0    0.0
   20    1.0  1.425520e+08  11464.240480   10.0    0.0
   21    1.0  1.560583e+08  11662.120867   10.0    0.0
   22    1.0  1.618662e+08  14834.967255   10.0    0.0

[176 rows x 5 columns]

In [4]:
df.to_pickle("./values_wu_et_al_2018_2.pkl")