In [14]:
import numpy as np
import pandas as pd

In [15]:
def _read_observation_file(filename):
    df = pd.read_csv(filename, sep=r" \s+", engine="python")
    return df


def write_data(df, filename_out):
    """writes the data extracted from input and result files to
    filename_out

    Parameters
    ----------
    df : pd.DataFrame
        data to be written
    filename_out : string
        name of the output file in which the data should be written
    """
    header = "   ".join(df.columns) + "\n"

    with open(filename_out, "w") as f:
        f.write(header)

    # convert the list of dicts to a dataframe
    for col in df.columns[1:]:
        df[col] = df[col].apply(lambda x: f"{float(x):.4E}")

    # fuse the columns of the dataframe
    df_1col = df.apply(lambda row: "   ".join(list(row)) + "\n", 1)

    # save to output file
    with open(filename_out, "a") as f:
        for i in range(len(df_1col)):
            f.write(df_1col.at[i])

In [21]:
mode = "err"
df = _read_observation_file(f"./horsehead-{mode}-cgs_full.dat")
df.head()

,X_Y,13CO J=1-0,C18O J=1-0,C2H N=1-0 J=3/2-1/2 F=2-1,C3H2 J=2-1 K+=1-0 K-=2-1,CN N=1-0 J=3/2-1/2,CO J=1-0,CS J=2-1,HCN J=1-0 F=2-1,HCO+ J=1-0,HNC J=1-0,SO J=3-2 K=2-1
0,0_0,6.171144e-11,5.672167e-11,4.656933e-11,2.799929e-11,1.154137e-10,1.914585e-10,3.766541e-11,2.101130e-11,3.149632e-11,3.133749e-11,3.868887e-11
1,1_0,5.872485e-11,4.992434e-11,3.727288e-11,3.259066e-11,1.263256e-10,1.987235e-10,3.376288e-11,2.497068e-11,2.943097e-11,3.148531e-11,4.153391e-11
2,2_0,5.944185e-11,5.613867e-11,3.531146e-11,3.542991e-11,1.247487e-10,1.744677e-10,3.519578e-11,2.404212e-11,2.775362e-11,2.469961e-11,3.674046e-11
3,3_0,5.654097e-11,5.599603e-11,4.134484e-11,3.738849e-11,1.270882e-10,1.912750e-10,3.848754e-11,2.658703e-11,2.766454e-11,2.913566e-11,4.078152e-11
4,4_0,5.844811e-11,6.079011e-11,3.672464e-11,4.388087e-11,1.243101e-10,1.752379e-10,3.883690e-11,2.648559e-11,3.550283e-11,3.130894e-11,3.656091e-11

In [22]:
for col in df.columns:
    print(col)

X_Y
13CO J=1-0
C18O J=1-0
C2H N=1-0 J=3/2-1/2 F=2-1
C3H2 J=2-1 K+=1-0 K-=2-1
CN N=1-0 J=3/2-1/2
CO J=1-0
CS J=2-1
HCN J=1-0 F=2-1
HCO+ J=1-0
HNC J=1-0
SO J=3-2 K=2-1

In [23]:
list_cols_used = [
    "X_Y",
    "CO J=1-0",
    # "13CO J=1-0",
    # "C18O J=1-0",
    "C2H N=1-0 J=3/2-1/2 F=2-1",
    "C3H2 J=2-1 K+=1-0 K-=2-1",
    # "CN N=1-0 J=3/2-1/2",
    "CS J=2-1",
    "HCN J=1-0 F=2-1",
    "HCO+ J=1-0",
    "HNC J=1-0",
    "SO J=3-2 K=2-1",
]
# assert len(list_cols_used) == 23 + 1, len(list_cols_used)

In [24]:
df = df.loc[:, list_cols_used]

In [25]:
write_data(df, f"./horsehead-{mode}-cgs_fit.dat")

In [1]:
import pandas as pd

In [15]:
df = pd.read_pickle("./horsehead-int.pkl")
N = len(df)

In [16]:
df.shape

(2226, 11)

In [8]:
list_lines = [
    "co_v0_j1__v0_j0",
    "cn_n1_j1d5__n0_j0d5",
    "cs_j2__j1",
    "so_n2_j3__n1_j2",
    "hcop_j1__j0",
    "hcn_j1_f2__j0_f1",
    "hnc_j1__j0",
    "c2h_n1d0_j1d5_f2d0__n0d0_j0d5_f1d0",
    "13c_o_j1__j0",
    "c_18o_j1__j0",
    "c_c3h2_j2_ka1_kc2__j1_ka0_kc1",
]

In [9]:
list_dicts = []
for n in range(N):
    for ell, line in enumerate(list_lines):
        dict_ = {
            "n": n,
            "ell": ell,
            "line": line,
            "a0_best": 3.0,
            "a1_best": 0.01,
            "target_best": None,
        }
        list_dicts.append(dict_)

df_params_gaussian = pd.DataFrame.from_records(list_dicts, index="n")
df_params_gaussian.head()

   ell                 line  a0_best  a1_best target_best
n
0    0      co_v0_j1__v0_j0      3.0     0.01        None
0    1  cn_n1_j1d5__n0_j0d5      3.0     0.01        None
0    2            cs_j2__j1      3.0     0.01        None
0    3      so_n2_j3__n1_j2      3.0     0.01        None
0    4          hcop_j1__j0      3.0     0.01        None

In [10]:
df_params_gaussian.to_csv("./params_for_gaussian_only.csv")